In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN'], axis=1, inplace=True)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
for i in application_df.columns:
    print(i, len(application_df[i].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df['APPLICATION_TYPE'].value_counts()
app_type_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts

<bound method IndexOpsMixin.value_counts of 0        T10
1         T3
2         T5
3         T3
4         T3
        ...
34294     T4
34295     T4
34296     T3
34297     T5
34298     T3
Name: APPLICATION_TYPE, Length: 34299, dtype: object>

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count=class_count[class_count>1]
classification_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count<500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1458
C7000      777
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C6100        1
C2600        1
C1248        1
C1580        1
C1820        1
C1900        1
C2570        1
C1283        1
C3700        1
C2500        1
C1570        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
name_count = application_df['NAME'].value_counts()
name_count

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [20]:
# Choose a cutoff value and create a list of NAMES to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(name_count[name_count<10].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

KeyError: 'NAME'

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOPS CLUB INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =7
hidden_nodes_layer2 =21

#add 3rd layer
hidden_nodes_layer3=30
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 560

 dense_1 (Dense)             (None, 21)                168

 dense_2 (Dense)             (None, 30)                660

 dense_3 (Dense)             (None, 1)                 31

=================================================================
Total params: 1,419
Trainable params: 1,419
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5797 - accuracy: 0.6975
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7346
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5267 - accuracy: 0.7379
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5226 - accuracy: 0.7412
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5209 - accuracy: 0.7420
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5187 - accuracy: 0.7435
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5173 - accuracy: 0.7419
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5172 - accuracy: 0.7425
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5162 - accuracy: 0.7436
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5155 - accuracy: 0.7435
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5152 - accuracy: 0.7432
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5149 - accuracy: 0.7434
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5150 - accuracy: 0.7432
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5142 - accuracy: 0.7446
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5144 - accuracy: 0.7440
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5144 - accuracy: 0.7446
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5140 - accuracy: 0.7441
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5135 - accuracy: 0.7445
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5138 - accuracy: 0.7444
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5137 - accuracy: 0.7446
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5133 - accuracy: 0.7453
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5132 - accuracy: 0.7459
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5130 - accuracy: 0.7463
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5127 - accuracy: 0.7448
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5126 - accuracy: 0.7457
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5129 - accuracy: 0.7451
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5124 - accuracy: 0.7448
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5126 - accuracy: 0.7468
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5120 - accuracy: 0.7456
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5121 - accuracy: 0.7450
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5119 - accuracy: 0.7463
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5119 - accuracy: 0.7469
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5118 - accuracy: 0.7460
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5118 - accuracy: 0.7460
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5119 - accuracy: 0.7465
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5116 - accuracy: 0.7460
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5115 - accuracy: 0.7470
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5116 - accuracy: 0.7467
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5112 - accuracy: 0.7475
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5112 - accuracy: 0.7483
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5113 - accuracy: 0.7468
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5112 - accuracy: 0.7463
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5115 - accuracy: 0.7460
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5108 - accuracy: 0.7463
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5113 - accuracy: 0.7474
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5107 - accuracy: 0.7466
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5109 - accuracy: 0.7465
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5110 - accuracy: 0.7466
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5108 - accuracy: 0.7472
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5107 - accuracy: 0.7476
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5110 - accuracy: 0.7470
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5102 - accuracy: 0.7468
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5108 - accuracy: 0.7474
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5104 - accuracy: 0.7469
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5106 - accuracy: 0.7467
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5106 - accuracy: 0.7470
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5100 - accuracy: 0.7477
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5103 - accuracy: 0.7479
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5102 - accuracy: 0.7467
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5100 - accuracy: 0.7478
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5099 - accuracy: 0.7455
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5099 - accuracy: 0.7480
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5103 - accuracy: 0.7465
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5100 - accuracy: 0.7475
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5104 - accuracy: 0.7467
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5099 - accuracy: 0.7481
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5098 - accuracy: 0.7469
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5100 - accuracy: 0.7467
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5097 - accuracy: 0.7476
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5096 - accuracy: 0.7490
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5097 - accuracy: 0.7472
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5096 - accuracy: 0.7471
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5092 - accuracy: 0.7481
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5094 - accuracy: 0.7479
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5098 - accuracy: 0.7473
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5093 - accuracy: 0.7484
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5093 - accuracy: 0.7485
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5096 - accuracy: 0.7464
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5094 - accuracy: 0.7469
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5093 - accuracy: 0.7464
Epoch 81/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5094 - accuracy: 0.7486
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5093 - accuracy: 0.7491
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5093 - accuracy: 0.7481
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5092 - accuracy: 0.7476
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5093 - accuracy: 0.7481
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5093 - accuracy: 0.7479
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5094 - accuracy: 0.7480
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5091 - accuracy: 0.7480
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5091 - accuracy: 0.7462
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5091 - accuracy: 0.7479
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5090 - accuracy: 0.7470
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5087 - accuracy: 0.7477
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5088 - accuracy: 0.7488
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5089 - accuracy: 0.7480
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5083 - accuracy: 0.7467
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5091 - accuracy: 0.7477
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5082 - accuracy: 0.7492
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5086 - accuracy: 0.7478
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5087 - accuracy: 0.7470
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5088 - accuracy: 0.7469

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5203 - accuracy: 0.7359 - 412ms/epoch - 2ms/step
Loss: 0.5203490853309631, Accuracy: 0.7358600497245789

In [18]:
# Export our model to HDF5 file
nn.save("models/AlphabetSoupCharityOptimization.h5")